body {background-color: white;}
/*{border: 1px solid black}*/


*{ /*{Para que todo tenga margen 0}*/
    margin: 0;
}

@media screen and (min-width: 600px){
    
.Video-Planta{
        width: 100%;
        height: 750px;
        object-fit: cover;
        
}

#Carrousellpropio{
    max-height: 750px;
}

#fotoscarrusell{
    width: 100%;
    height: 750px;
    object-fit: cover;
    
}

#header{ 
    background-color: white;
}

#boton { /*{De los que salen de la solapa}*/
    color: white;
}

#titulo {
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px; 
    font-size: 24px;
}




#botones {
    display: flex ;
    color: white;
    margin-right: 20px;
    font-size: 24px;
    justify-content: end;
}

#boton {
    color: white;
}

#contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color:#f2f2f2;
}

#Letras-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:#f2f2f2;
}


#igAndWpp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #f2f2f2 ;
}


.boton-whatsapp, .boton-instagram {
    padding-right: 20px;
    padding-left: 20px;
   /*border: solid red 3px ;*/
}
  

.boton-whatsapp a, .boton-instagram a {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #44444b;

}


#Barralateral{
    background-color: #44444b;

}
  
#usos{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 10px;
    margin: 0px;
    width: 100%;
    background-color: #44444b;
    color:white;
}

.usospalabra{
    margin-left: 22px;
    font-size: 24px;
}

#productos{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 10px;
    margin: 0px;
    width: 100%;
    background-color: #44444b;
    color:white;

}

.productospalabra{
    margin-left: 22px;
    font-size: 24px;
}


.Tips{
    display: inline-block;
    padding: 25px;
    margin-top: 20px;
    margin-left: 10px;
    width: auto;
    padding: 15px 15px;
    border-radius: 25px;
    background-color: #44444b;
    color: #fff;
    text-align: start;
}

.Aclraciones{
    display: inline-block;
    padding: 25px;
    margin-top: 10px;
    margin-left: 20px;
    width: auto;
    padding: 10px 20px;
}

.Barramediana{
    width: 100%;
    justify-content: start;
    padding: 0px;
    margin-top: -1vh;
}

.Secciones{
    /*
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
    */
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fotoscartas{
    height: 400px;
    /*
    overflow: hidden;
    object-fit: cover;
    */
}

.contacto{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: #f2f2f2 ;
}

#href_usos{
    position: absolute;
    margin-top: -8vh;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: fit-content;

}
#href_productos{
    position: absolute;
    margin-top: -8vh;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: fit-content;

}

#href_contacto{
    position: absolute;
    margin-top: -7vh;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: fit-content;

}

.Botonpedido {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
  }
  

.ProductoCarrito {
    align-items: center;
    flex-direction: row;
    display: flex;
}



}


@media only screen and (max-width: 600px) {
#header{ 
        background-color: white;

    }
    
#titulo {
        color:black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 10px; 
        font-size: 24px;
    }


#boton {
    color: white;
}


.Video-Planta{
    width: 100%;
    height: 800px;
    object-fit: cover;
}
#fotoscarrusell{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

#Carrousellpropio{
    max-height: 550px;
}



#Letras-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f2f2f2;
    padding-left: 25px;
    padding-right: 25px;
}

#igAndWpp{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    margin-bottom: -3vh;
    background-color: #f2f2f2 ;
}


.boton-whatsapp, .boton-instagram {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
   /*border: solid red 3px ;*/
}
  
.boton-whatsapp a, .boton-instagram a {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #44444b;

}

#Barralateral{
    background-color: #44444b;

}

#usos{
    padding: 25px;
    margin: 0px;
    width: 100%;
    background-color: #44444b;
    color:white;

}

#productos{
    padding: 25px;
    margin: 0px;
    width: 100%;
    background-color: #44444b;
    color:white;

}


.Barramediana{
    justify-content: start;
    padding: 0px;
    margin-top: -1vh;
}

.Tips{
    display: inline-block;
    padding: 25px;
    margin-top: 20px;
    margin-left: 10px;
    width: auto;
    padding: 15px 15px;
    border-radius: 25px;
    background-color: #44444b;
    color: #fff;
    text-align: start;
}

.Aclraciones{
    display: inline-block;
    padding: 25px;
    margin-top: 10px;
    margin-left: 20px;
    width: auto;
    padding: 10px 20px;
}

.Secciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;


    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}


#cartitas{
    margin-bottom: 10px;
    margin-top: 10px;
}

.contacto{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: #f2f2f2 ;
}

#href_usos{
    position: absolute;
    margin-top: -7vh;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: fit-content;

}
#href_productos{
    position: absolute;
    margin-top: -7vh;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: fit-content;

}

#href_contacto{
    position: absolute;
    margin-top: -7vh;
    color: transparent;
    background-color: transparent;
    width: 100%;
    height: fit-content;

}

.Botonpedido {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
  }
  

.ProductoCarrito {
    flex-direction: row;
    display: flex;
    align-items: end;
  }


}
