body {background-color: white;}
/*{border: 1px solid black}*/


*{ /*{Para que todo tenga margen 0}*/
    margin: 0;
}

@media screen and (min-width: 600px){
    
#Video-Planta{
        width: 100%;
        height: 750px;
        object-fit: cover;
}

#Video-Mar{
    display: none;
}

#header{ 
    background-color: white;
}

#boton { /*{De los que salen de la solapa}*/
    color: white;
}

#titulo {
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px; 
    font-size: 24px;
}




#botones {
    display: flex ;
    color: white;
    margin-right: 20px;
    font-size: 24px;
    justify-content: end;
}

#boton {
    color: white;
}

#Letras-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f2f2f2;
}

#igAndWpp{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    background-color: #f2f2f2 ;
}


.boton-whatsapp, .boton-instagram {
    padding-right: 20px;
    padding-left: 20px;
    border: solid red 3px ;
}
  
.boton-whatsapp a, .boton-instagram a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #7e469c;

}
  

#Barralateral{
    background-color: #44444b;
}




@media only screen and (max-width: 600px) {
#header{ 
        background-color: white;

    }
    
#titulo {
        color:black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 10px; 
        font-size: 24px;
    }


#boton {
    color: white;
}


#Video-Planta{
    width: 100%;
    height: 750px;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f2f2f2;
  }
  
  .boton-whatsapp, .boton-instagram {
    margin-right: 20px;
  }
  
  .boton-whatsapp a, .boton-instagram a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #44444b;
    color: #fff;
  }
  
  .boton-instagram a {
    background-color: #44444b;
  }
  
  .fa-whatsapp, .fa-instagram {
    font-size: 24px;
  }

  #Barralateral{
    background-color: #44444b;
}


}